<main class="country clearfix" ng-show="country">
  <h2>{{country.countryName}}</h2>

  <dl class="clearfix">
    <dt>Population of Country</dt>
    <dd>{{country.population | number}}</dd>
    <dt>Area</dt>
    <dd>{{country.areaInSqKm  | number}} square km</dd>
    <dt>Capital</dt>
    <dd>{{country.capital}}</dd>
    <dt>Population of Capital</dt>
    <dd>{{country.capitalPopulation | number}}</dd>
    <dt>{{country.neighbors.length}} Neighbors</dt>
    <dd>
      <span ng-repeat="neighbor in country.neighbors">
        <a href="#/country/{{neighbor.countryCode}}">
          {{neighbor.countryName}}
        </a>
        <span ng-hide="$last">, </span>
      </span>
    </dd>
  </dl>
  <div ng-if="country" id="country-images">
    <div id="country-shape">
      <img src='./images/empty.png' ng-src="http://www.geonames.org/img/country/250/{{country.countryCode}}.png" alt="flag">
    </div>
    <div id="country-flag">
      <img src='./images/empty.png' ng-src="http://www.geonames.org/flags/x/{{country.countryCode | lowercase}}.gif" alt="flag">
    </div>
  </div>
</main>
<div ng-hide="isLoading" ng-include="'./cac-app/nav/nav.html'"></div>
