.alert{
  width: 600px;
  margin: 0.5em auto;
  z-index: 2;
  text-align: center;
  border: 3px solid #ccc;
  border-radius: 4px;
  position: relative;
  padding: 5px;
  background: #eee;
}
.alert .alert-close{
  position: absolute;
  right: 5px;
  top: 3px;
  border: 2px solid #ccc;
  padding: 0 5px;
  border-radius: 100%;
  background: #eee;
  cursor: pointer;
}

.alert.error {
  background: #FCD7D9;
  border-color: red;
  color: red;
}
.alert.error .alert-close {
  border-color: red;
}

.alert.ng-leave {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 1;
}
.alert.ng-leave.ng-leave-active {
  opacity: 0;
}
